{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{rawer.title}}</title>
  <meta name="description" content="{{rawer.description}}"/>
  {{> graph}}
  <base href="/" />
  <link rel="icon" href="images/favicon.ico" type="image/x-icon" />  
  <!--[if lte IE 8]><script src="scripts/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} 
  {{> body}}
  
  <!--[if lte IE 8]><script src="scripts/ie/respond.min.js"></script><![endif]-->
  <script src="scripts/main.js"></script>

  {{> ga}}
  <!-- Meao! -->  
</body>
</html>